<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">فروشگاه لپ تاپ</h1>
      <br />
      <h3 class="display-6">
        فروشگاه لپ تاپ های اورجینال در ایران
      </h3>
    </div>
  </div>