<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse w-100" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <% if(path === "/") {%>active<% } else {} %>" href="/">خانه</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if(path === "/products") {%>active<% } else {} %>" href="/products">محصولات</a>
      </li>
      <% if(isAuthenticated){ %>
        <li class="nav-item">
          <a href="/shop-cart" class="nav-link <% if(path === "/shop-cart") {%>active<% } else {} %>">سبد خرید</a>
        </li>
        <%if(userType> 1){ %>
          <li class="nav-item">
            <a class="nav-link <% if(path === "/admin/add/product") {%>active<% } else {} %>"
                href="/admin/add/product">افزودن محصول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(path === "/admin/products") {%>active<% } else {} %>"
                href="/admin/products">محصولات
                ادمین</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(path === "/admin/account") {%>active<% } else {} %>" href="/admin/accounts">حساب
                ها</a>
          </li>
          <li class="nav-ite,">
            <a class="nav-link <% if(path === "/admin/orders") {%>active<% } else {} %>"
                href="/admin/orders">سفارشات</a>
          </li>
          <% } %>
            <% } %>
    </ul>

    <div style="width: 300px;margin: auto;">
      <form action="/search-engine" method="POST">
        <input type="search" class="form-control" name="search_input" placeholder="جستجو..."
          style="width: 300px;letter-spacing: 0.5px;">
      </form>
    </div>

    <div>
      <% if(!isAuthenticated){ %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/login" class="nav-link <% if(path === '/login') { %>active<% } %>">ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(path === '/singup'){ %>active<% } %>" href="/signup">ثبت نام</a>
          </li>
        </ul>
        <% }else{ %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/logout" class="nav-link">خروج</a>
            </li>
          </ul>
          <% } %>
    </div>

  </div>


</nav>