<%- include('../start.ejs') %>

  <%- include('../header.ejs') %>

    <%- include('../navBar.ejs') %> 


        <h1 class="text-danger text-center">this is orders</h1>


    <%- include('../footer.ejs') %> 